<!-- Maybe put this into its own directive? -->
<button type="button" ng-disabled="!selection.length" ng-click="openConfirmTagDeletionDialog()" class="btn btn-danger" ng-hide="appMode.browseOnly">
  <span class="glyphicon glyphicon-trash"></span>
  <ng-pluralize count="selection.length"
               when="{'0': 'Select tags to delete', 'one': 'Delete one tag', 'other': 'Delete {} tags'}">
  </ng-pluralize>
</button>

<div class="table-responsive">
  <table  class="table table-hover">
    <thead>
      <tr>
        <th  ng-class="{strike: deleted}"><span class="glyphicon glyphicon-tag"></span> Tag</th>
        <th ><span class="glyphicon glyphicon-qrcode"></span> Image ID</th>
        <th ><span class="glyphicon glyphicon-calendar"></span> Created</th>
        <th ><span class="glyphicon glyphicon-user"></span> Author</th>
        <th ><span class="glyphicon glyphicon-eye-open"></span> Docker version</th>
        <!-- <th ><span class="glyphicon glyphicon-arrow-up"></span> Parent's ID</th> -->
        <!-- <th><span class="glyphicon glyphicon-compressed"></span> Size (MB)</th> -->
      </tr>
      <tr>
  			<th><input class="input-sm form-control" placeholder="Filter tags on this page" type="search" ng-model="search.name"/></th>
		  </tr>
    </thead>
    <tbody>
      <tr ng-repeat="tag in displayedTags | filter:search " ng-show="tag.details">
        <td>
          <a ng-bind-html="tag.name" href="tag/{{repositoryUser}}/{{repositoryName}}/{{tag.name}}">{{tag.name}}</a>
        </td>
        <td><span ng-bind-html="tag.details.id | limitTo: 12"></span></td>
        <td am-time-ago="tag.details.created"></td>
        <td><span ng-bind-html="tag.details.author | linky"></span></td>
        <td ng-bind-html="tag.details.docker_version"></td>
        <!-- <td><span ng-bind-html="tag.details.parent | limitTo: 12"></span></td> -->
        <!-- <td>
          <button type="submit" class="btn btn-info btn-xs" ng-click="calculateTotalImageSize()" ng-show="totalImageSize===null" title="Calculate total image size">
            <span class="glyphicon glyphicon-stats"></span>
          </button>
          <span  ng-show="totalImageSize===null" ng-bind-html="tag.details.Size / 1024 / 1024 | number: 2"></span>
          <span ng-show="totalImageSize!==null">
            {{totalImageSize / 1024 / 1024 | number: 2}}
          </span>
        </td> -->
      </tr>
    </tbody>
  </table>

</div>
