<!-- Maybe put this into its own directive? -->
<button type="button" ng-disabled="!selection.length" ng-click="openConfirmTagDeletionDialog()" class="btn btn-danger" ng-hide="appMode.browseOnly">
  <span class="glyphicon glyphicon-trash"></span>
  <ng-pluralize count="selection.length"
               when="{'0': 'Select tags to delete', 'one': 'Delete one tag', 'other': 'Delete {} tags'}">
  </ng-pluralize>
</button>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="" ng-class="{strike: deleted}"><span class="glyphicon glyphicon-tag"></span> Tag</th>
      </tr>
      <tr>
  			<th><input class="input-sm form-control" placeholder="Filter tags on this page" type="search" ng-model="search.name"/></th>
		  </tr>
    </thead>
    <tbody>
      <tr ng-repeat="tag in tags | filter:search ">
        <td>
          <span ng-bind-html="tag.name"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
