<h2>
  Image Details
  <div ng-hide="appMode.browseOnly" class="pull-right">
    <a href="image/{{details.imageId}}/tag/{{repositoryUser}}/{{repositoryName}}" class="btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>
      Create a tag for this image
    </a>
  </div>
</h2>

<tabset>
  <tab>
    <tab-heading>
      General information
    </tab-heading>
    <form class="form-horizontal"  role="form">
      <div class="form-group" ng-show="config.created">
        <label class="col-sm-2 control-label"><span class="glyphicon glyphicon-calendar"></span> Created</label>
        <div class="col-sm-10">
          <p class="form-control-static">
            <span am-time-ago="config.created"></span>
            <span class="text-muted"> ({{config.created | date:'yyyy-MM-dd HH:mm:ss Z'}})</span>
          </p>
        </div>
      </div>
      <div class="form-group" ng-show="config.docker_version">
        <label class="col-sm-2 control-label"><span class="glyphicon glyphicon-eye-open"></span> Docker version</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{config.docker_version}}</p>
        </div>
      </div>
      <div class="form-group" ng-show="config.os">
        <label class="col-sm-2 control-label"><span class="glyphicon glyphicon-cog"></span> OS</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{config.os}}/{{config.architecture}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label"><span class="glyphicon glyphicon-qrcode"></span> Image ID</label>
        <div class="col-sm-10">
          <p class="form-control-static">
            {{details.imageId | limitTo: 12}}
          </p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label"><span class="glyphicon glyphicon-compressed"></span> Size <small>(including base image sizes)</small></label>
        <div class="col-sm-10">
          <p class="form-control-static">
            <span>
              {{details.size / 1024 / 1024 | number: 2}} <b>MB</b>
            </span>
          </p>
        </div>
      </div>
    </form>
  </tab>
  <tab ng-show="config.container_config.Labels.length">
    <tab-heading>
      Labels
    </tab-heading>
      <table class="table">
        <thead>
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(key, value) in config.container_config.Labels">
            <td>{{key}}</td>
            <td>{{value}}</td>
          </tr>
        </tbody>
      </table>
  </tab>
  <tab ng-show="config.dockerfile.length">
    <tab-heading>
      Dockerfile
    </tab-heading>
    <pre>
      <code ng-repeat="instruction in config.dockerfile">
{{instruction}}
      </code>
    </pre>
  </tab>
</tabset>

