<ol class="breadcrumb">
    <li><a href="#/home">Home</a></li>
    <li><a href="#/repositories/">Repositories</a></li>
    <li><a href="#/repositories/{{repositoryUser}}">{{repositoryUser}}</a></li>
    <li><a href="#/repository/{{repositoryUser}}/{{repositoryName}}">{{repositoryName}}</a></li>
</ol>

<h1>Details for repository <a href="#/repositories/{{repositoryUser}}">{{repositoryUser}}</a>/<a href="#/repository/{{repositoryUser}}/{{repositoryName}}">{{repositoryName}}</a></h1>

<tag-list></tag-list>


