<ol class="breadcrumb">
    <li><a href="#/home">Home</a></li>
    <li><a href="#/repositories/">Repositories</a></li>
    <li><a href="#/repositories/{{repositoryUser}}">{{repositoryUser}}</a></li>
    <li><a href="#/repository/{{repositoryUser}}/{{repositoryName}}">{{repositoryName}}</a></li>
</ol>

<h1>
  Details for repository
  <a href="#/repositories/{{repositoryUser}}">{{repositoryUser}}</a>/<a href="#/repository/{{repositoryUser}}/{{repositoryName}}">{{repositoryName}}</a>
  <div ng-hide="appMode.browseOnly" class="pull-right">
    <a class="btn btn-danger" href="#/repository/{{repositoryUser}}/{{repositoryName}}/delete" alt="Delete repository">
      <span class="glyphicon glyphicon-trash"></span> Delete Repository
    </a>
  </div>
</h1>

<tag-list></tag-list>
