<p>
  <div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
    <input type="search" placeholder="Search for a repository" ng-model="searchTerm" class="form-control">
  </div>
</p>

<div class="panel panel-default">
  <div class="panel-heading">
    Repositories <span ng-bind-template="({{filteredRepositories.length}}/{{repositories.length}})"></span>:
    <a href="" ng-init="reverse=false" ng-click="reverse=!reverse" class="btn btn-default btn-sm">
      <span class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet':reverse==true, 'glyphicon-sort-by-alphabet-alt':reverse==false}"></span>
      <span ng-if="reverse==true">List in alphabetical order</span>
      <span ng-if="reverse==false">List in reverse alphabetical order</span>
    </a>
  </div>
  <div class="list-group">  
    <a href="#/repository/{{repo.name}}" class="list-group-item" ng-repeat="repo in filteredRepositories=(repositories | filter:searchTerm | orderBy:'name':reverse)">
      <span class="list-group-item-heading">
        <span class="glyphicon glyphicon-book"></span> {{repo.name}}
      </span>
      <p class="list-group-item-text" ng-if="repo.description.length > 0">
        {{repo.description}}
      </p>
    </a>
    <span class="list-group-item" ng-if="filteredRepositories.length == 0 && searchTerm">
      <h4 class="list-group-item-heading">Sorry!</h4>
      <p class="list-group-item-text">No repositories match the given search term: "{{searchTerm}}".</p>
    </span>
  </div>
</div>
