<p>
  <div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
    <input type="search" placeholder="Search for a repository" ng-model="searchTerm" class="form-control">
  </div>
</p>


<div class="panel panel-default">
  <div class="panel-heading">
    Repositories <span ng-bind-template="({{filteredRepositories.length}}/{{repositories.length}})"></span>:
  </div>
  <div class="list-group">
    <div class="list-group-item list-group-item-group-header" ng-repeat-start="(username, repos) in (filteredRepositories=(repositories | filter:searchTerm) | groupBy: 'username')">
      <span class="badge">{{repos.length}}</span>
      
      <span class="list-group-item-heading"><span class="glyphicon glyphicon-user"></span> {{username}}</span>
    </div>
    <a class="list-group-item list-group-item-group-item anim-repo-repeat" href="#/repository/{{repo.name}}" ng-repeat="repo in repos">
      <span class="list-group-item-heading">
        <span class="glyphicon glyphicon-book"></span> {{repo.name|trim:username+'/'}}
      </span>
    </a>
    <span ng-repeat-end></span>
    <span class="list-group-item" ng-if="filteredRepositories.length == 0 && searchTerm">
      <h4 class="list-group-item-heading">Sorry!</h4>
      <p class="list-group-item-text">No repositories match the given search term: "{{searchTerm}}".</p>
    </span>
  </div>
</div>

